@font-face {
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
  
body {
    font-family: Montserrat;
    font-weight: bold;
}
.container {
    display: none;
    overflow: hidden;
    width: 265px;
    opacity: 75%;
    /*box-shadow: 0px 0px 7px;*/
    /*box-shadow: -2px 4px 7px -5px rgba(171, 168, 168, 1),-4px 0px 11px 8px rgba(0, 0, 0, 0.67);*/
    box-shadow: -2px 2px 8px 0px rgb(181, 181, 181);
    border-radius: 7px; 
    margin-left: 25px;
    margin-top: 500px;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    /*border: #f1eca1a8 1px solid;*/
    background-image: url(https://media.giphy.com/media/5vgHoMiknf5iJl8FH1/giphy.gif);
    background-color: #3d3d3d;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    color: white;
    font-weight: 200;
    font-size: 1.9vh;
    padding: 10vh;
    font-weight: bold;
    margin-left: 10px;
}
#titulo {
    color: rgb(217, 255, 0);
    font-size: 1.4vh;
    font-weight: bold;
    text-shadow: 0 0 10px #ffe600, 0px 0px 4px rgba(206,206,206,0.37);
    animation: titulo 1s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 normal forwards;
    

}


.content {
    color: white;
    font-size: 1.4vh;
    color:rgb(255, 255, 255);
    text-shadow: 0 0 10px #ffffff, 0px 0px 4px rgba(206,206,206,0.37);
}

#icon {
    color: white;
}

@keyframes titulo {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
}

